<div class="navigation">
    <a class="prev" href="index.php?month=__prev_month__" onclick="$('#calendar').load('index.php?month=__prev_month__&_r=' + Math.random()); return false;"></a>
    <div class="title" >__cal_caption__</div>
    <a class="next" href="index.php?month=__next_month__" onclick="$('#calendar').load('index.php?month=__next_month__&_r=' + Math.random()); return false;"></a>
</div>

<table>
    <tr>
        <th class="weekday">Вс</th>
        <th class="weekday">Пн</th>
        <th class="weekday">Вт</th>
        <th class="weekday">Ср</th>
        <th class="weekday">Чт</th>
        <th class="weekday">Пт</th>
        <th class="weekday">Сб</th>
    </tr>
    __cal_rows__
</table>
